<div class="ui container fix">
	<% if flash[:message] %>
		<%= flash[:message] %>
		<br>
		<br>
	<% end %>
	
	<%= form_tag login_path, id: "login", class: "form" do %>
		<div>
			<label>Email:</label>
			<%= text_field_tag 'user[email]' %>
		</div>
		<div>
			<label>Password:</label>
			<%= password_field_tag 'user[password]' %>
		</div>
		<div>
			<%= submit_tag "Log In", class: "ui secondary button" %>
		</div>
	<% end %>



</div>
