<div class="ui container fix">
	<% if flash[:message] %>
		<%= flash[:message] %>
		<br>
		<br>
	<% end %>



	<div class="form_container project-desc" style="padding-top: 100px; border: none; margin-left: 20%;">
		<%= form_tag login_path, id: "login", class: "form" do %>
			<div style="text-align: center;">
				<label>Email</label><br>
				<%= text_field_tag 'user[email]', nil , style: "border: none; padding: 2px; border-radius: 3px;" %>
			</div>
			<div style="text-align: center;">
				<label >Password</label><br>
				<%= password_field_tag 'user[password]', nil, style: "border: none; padding: 2px; border-radius: 3px;" %>
			</div>
			<div>
				<%= submit_tag "Log In", class: "ui secondary button", style: "margin-left: 30%;" %>
			</div>
		<% end %>
	</div>


<br><br><br>
<h1 class="flashing", style="font-size:8em; text-align: center; margin-bottom: 0px;">MOODBOARDS</h1>
<h4 class="flashing", style="font-size:3em; text-align: right; margin-right: 15%; margin-top: 0px;">Inc.</h4>

</div>
