<div class="ui container fix">
	<table class="ui celled white table">
  <thead>
    <tr>
      <th class="center aligned">
      	<h2 class="ui header">User</h2>
      </th>
      <th class="center aligned">
      	<h2 class="ui header">Email</h2>
      </th>
      <th class="center aligned">
      	<h2 class="ui header">Admininstrator?</h2>
      </th>
    </tr>
  </thead>
  <tbody>
   <% @users.each do |user| %> 
    <tr>
      <td class="center aligned">
      	<h2>
      		<%= link_to "#{user.full_name}", user_path(user), :class => "black", :style => "text-decoration: underline;" %>
      	</h2>
      </td>
      <td class="center aligned six wide">
      	<h3>
      		<%= link_to "#{user.email}", email_user_path(user), class: "black", style: "text-decoration: underline;" %>
      	</h3>
      </td>
      <td class="center aligned">
      	<h3>
      		<% if user.admin == true %>
      			<%= "Yes" %>
      		<% else %>
      			<%= "No" %>
      		<% end %>
           <%= link_to "<i class='write icon'></i>".html_safe, edit_user_path(user), class: "black" %>
      	</h3>

      </td>
    </tr>
    <% end %>
  </tbody>
	</table>
</div>