<div class="container padded-container">
	
	<div class="user-info-box">
		<div class="title-name">
			<%= @user.full_name %><br><br>
		</div>
		<div class="user-email">
		<%= @user.email %><br><br>
		</div>
	</div>	

	<div class="projects ui grid">
		<h2 id="project-title">Projects</h2>
			<div class="four wide column"></div>
		<% if @projects %>
			<% @projects.each do |project| %>
				<div class="ten wide column shift-right" style="margin-top: 10px;">
					<%= link_to "#{project.title}", project_path(project) %><br><br>
					<hr>
					<% project.images.sample(5).each do |image| %>
						<%= image_tag image.url, class: "ui small image thumbnail-image" %>
						<% end %>
				</div>
			<% end %>
		<% else %>
			<%= "#{@user.first_name} doesn't currently have any projects." %>
		<% end %>
	</div>

</div>

