<div class="ui container fix">

  <%= form_for @project, {class: "ui form"} do |f| %>
    <div class="form_container project-desc" style="padding-top: 100px; border: none;">
      <div class="field field_container">
         <%= f.label :title, "Project Title " %><br><br>
         <%= f.text_field :title, style: "border: none; padding: 2px; border-radius: 3px;" %><br><br>
       </div>
       <div class="field field_container">
         <%= f.label :description, "Project Description " %><br><br>
         <%= f.text_area :description, style: "border: none; padding: 2px; border-radius: 3px;" %><br><br>
       </div>
       <div class="field field_container">
         <%= f.label :users, "Please select all collaborators", :class => "one-vw-font" %><br><br>
         <%= f.collection_check_boxes :user_ids, User.all, :id, :full_name do |user| %>
            <div>
              <%= user.check_box :class => "mar-right-checkbox"%>
              <%= user.label :class => "checkbox"%>
            </div>
        	<% end %>
        </div>
         <%= f.submit :class => "ui button"%>
    </div>
  <% end %>

</div>
