<div class="floating_box">

	<div class="button_link">
		<%= link_to "Edit this project", edit_project_path(@project) %>
	</div>



			<% if current_user.admin? %>
				<%= form_tag approve_project_path do %>
					<%= hidden_field_tag 'project_id', @project.id %>
					<%= submit_tag "Approve Project", class: "button_approve_reject", style: "background-color: #2f883f;", data: {confirm: "Are you sure you want to approve this project?"} %> <% end %>
				<%= form_tag reject_project_path do %>
					<%= hidden_field_tag 'project_id', @project.id %>
					<%= submit_tag "Reject Project", :class => "button_approve_reject", style: "background-color: #b2523e;", data: {confirm: "Are you sure you want to reject this project?"}%><% end %>
			<% end %>


			<div class="ui compact menu">
			  <div class="ui simple dropdown item">
			    Boards &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="dropdown icon"></i>
			    		<div class="menu" style="background-color:black;">
			     			<% @project.boards.each do |board| %>
			      			<div class="button_link" style="margin-bottom: 0px;"><%= link_to "#{board.title}", board_path(board) %></div>
			      		<% end %>
			      		<div class="button_link" style="background-color: #808080;">
									<%= link_to "Add New Board", new_board_path %>
								</div>
			    		</div>
			  </div>
		</div>
</div>

<!-- BEGIN CONTAINER -->
<div class="ui container fix">

	<div class="project-name-show">
			<%= @project.title %>
	</div>
		<br>
	<div class="project-descrip-show">
		<%= @project.description %>
		<br>
	</div>
	<% if @project.images.count == 0 %><div class="ui container" style="background-color: #808080; height: 400px; padding: 30%;"><h2>You currently have no projects</h1></div><% end %>
	<div class="masonry" style="margin-top: 30px;">
		<% @project.images.each do |image| %>
			<div class="item_brick">
			<%= link_to image_tag(image.file_for), image_path(image), class: "ui fluid image" %>
			</div>
		<% end %>
	</div>

	<% if @project.images.count != 0 %>
	<br><br>
			<div class="ui two column grid">
				<div class="column" style="height: 200px;">
					<%= form_tag '/comments', method: 'post' do %>
						<div class="ui form">
							<div class="field">
								<%= hidden_field_tag 'comment[project_id]', @project.id %>
								<%= text_area_tag 'comment[content]' %>
							</div>
						</div>
					<%= submit_tag "Add a comment", class: "ui button", style: "margin-left: 35%; margin-top: 20px;" %>
					<% end %>
				</div>
				<div class="column" style="height: 200px;">
					<div class="comment_display" style="overflow-y:scroll; height: 150px;">
						<% if @project.comments %>
							<% @project.comments.each do |comment| %>
								<p><%= "#{comment.user.full_name}: #{comment.content}" %></p><br>
							<% end %>
						<% end %>
					</div>
			</div>
			</div>
	</div>
	</div>
<% end %>


</div>
<!-- END CONTAINER -->
<div class="footer">
<span style="color: white; font-weight: bold;">Contributors</span> <% @project.users.each do |user| %>
						<span style="padding-left: 20px;"><%= link_to "#{user.full_name}", user_path(user) %></span>
					<% end %>
				</div>
