
	<br>
	<br>
<%= link_to "Add Image", new_image_path %>
	<br>
<%= link_to "Edit", edit_board_path(@board) %><br>


<div class="wrapper">

	<div style="padding-top: 20px;">
		<%= link_to "#{@board.project.title}", project_path(@board.project), style: "color: white; font-size: 3em; margin-left:20%;" %><br>
	</div>

		<div class="masonry" style="margin-top: 30px;">

			<% @board.images.each do |image| %>
				<div class="item_brick">
				<%= link_to image_tag(image.url), image_path(image), class: "ui fluid image" %>
				</div>
			<% end %>
		</div>

	<br><br>
			<div class="ui two column grid">
				<div class="column" style="height: 200px;">
					<%= form_tag '/comments', method: 'post' do %>
						<div class="ui form">
							<div class="field">
								<%= hidden_field_tag 'comment[board_id]', @board.id %>
								<%= text_area_tag 'comment[content]' %>
							</div>
						</div>
					<%= submit_tag "Add a comment" %>
					<% end %>
				</div>
				<div class="column" style="height: 200px;">
					<span class="title"> Comments For This Board </span>
					<div style="overflow-y:scroll; height: 150px;">
						<% if @board.comments %>
							<% @board.comments.each do |comment| %>
								<p><%= "#{comment.user.full_name}: #{comment.content}" %></p>
								<hr class="line">
							<% end %>
						<% end %>
					</div>
				</div>
			</div>

	 Contributors <% @board.project.users.each do |user| %>
									<span style="padding-left: 20px;"><%= link_to "#{user.full_name}", user_path(user) %></span>
								<% end %>
</div>
