<div class="ui container">
	<div class="ui two column grid">
		<div class="column">
			<%= image_tag @image.url, class: "ui fluid image" %><br>
		  <span style="margin-right: 80px;">Uploaded by: <%= link_to "#{@image.user.full_name}", user_path(@image.user) %></span>
			<span>Assocated with: <%= link_to "#{@image.board.title}", board_path(@image.board) %></span>

			<%= form_tag '/comments', method: 'post' do %>
				<div class="ui form">
					<div class="field">
						<%= hidden_field_tag 'comment[image_id]', @image.id %>
						<%= text_area_tag 'comment[content]' %>
					</div>
				</div>
				<%= submit_tag "Add a comment" %>
			<% end %>
		</div>
<!--  End of first column  -->
		<div class="column">
			<div class="comment-padding">
				<% if @image.comments %>
					<% @image.comments.each do |comment| %>
						<p><%= "#{comment.user.full_name}: #{comment.content}" %></p>
						<hr class="line">
					<% end %>
				<% end %>
			</div>
		</div>
	</div>

</div>
