<div class="floating_box">
		<div class="button_link">
			<%= link_to "Back to Board", board_path(@image.board) %>
		</div>

		<div class="button_link">
			<%= link_to "Delete Image", image_path(@image), method: :delete, data: {confirm: 'Are you sure you want to delete this image?'} %>
		</div>
</div>

<div class="ui container">
	<div class="ui two column grid fix">
		<div class="column">
				<div class="item_brick">
					<%= image_tag @image.file_for, class: "ui fluid image" %><br>
				</div>

		  <span style="margin-left: 35%;">Uploaded by:
		  <% if current_user.admin? || current_user == @image.user %>
		  <%= link_to "#{@image.user.full_name}", user_path(@image.user), class: "black" %>
		  	<% else %>
		  	<%= @image.user.full_name %>
		  	<% end %>
		  </span><br>
			<span style="margin-left: 35%;">Displayed on Project: <%= link_to "#{@image.board.title}", board_path(@image.board), class: "black" %></span>

		</div>
<!--  End of first column  -->
		<div class="column">
			<%= form_tag '/comments', method: 'post' do %>
				<div class="ui form">
					<div class="field">
						<%= hidden_field_tag 'comment[image_id]', @image.id %>
						<%= text_area_tag 'comment[content]' %>
					</div>
				</div>
				<%= submit_tag "Add a comment", class: "ui button", style: "margin-top: 20px; margin-left: 35%" %>
			<% end %>
			<div class="comment_display" style="margin-top: 20px; height: 350px; border: none;">
				<% if @image.comments %>
					<% @image.comments.each do |comment| %>
						<p><%= "#{comment.user.full_name}: #{comment.content}" %></p>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>

</div>
