<div class="floating_box">
		<div class="button_link">
		<%= link_to "Delete Image", image_path(@image), method: :delete %>
		</div>
	
</div>




<div class="ui container">
	<div class="ui two column grid fix">
		<div class="column">


			<% if @image.url? %>
				<%= image_tag @image.url, class: "ui fluid image" %><br>
			<% elsif @image.photo? %>
				<%= image_tag @image.photo, class: "ui fluid image" %><br>
			<% end %>

		  <span style="margin-right: 80px;">Uploaded by:
		  <% if current_user.admin? || current_user == @image.user %>
		  <%= link_to "#{@image.user.full_name}", user_path(@image.user) %>
		  	<% else %>
		  	<%= @image.user.full_name %>
		  	<% end %>
		  </span>
			<span>Assocated with: <%= link_to "#{@image.board.title}", board_path(@image.board) %></span>

		</div>
<!--  End of first column  -->
		<div class="column">
			<%= form_tag '/comments', method: 'post' do %>
				<div class="ui form">
					<div class="field">
						<%= hidden_field_tag 'comment[image_id]', @image.id %>
						<%= text_area_tag 'comment[content]' %>
					</div>
				</div>
				<%= submit_tag "Add a comment" %>
			<% end %>
			<div class="comment-padding">
				<% if @image.comments %>
					<% @image.comments.each do |comment| %>
						<p><%= "#{comment.user.full_name}: #{comment.content}" %></p>
						<hr class="line">
					<% end %>
				<% end %>
			</div>
		</div>
	</div>

</div>
