<!DOCTYPE html>
<html>
  <head>
    <title>Moodboards</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<!-- start navbar -->
  	<div class="ui inverted large menu fixed">
		  <%= link_to "Home", root_path, class: "active item" %>
		  <% if logged_in? %>
		  	<%= link_to "Create a New Project", new_project_path, class: "ui item" %>
		  	<%= link_to "Edit Profile", edit_user_path(current_user), class: "ui item" %>
		  	<% if current_user.admin? %>
		  		<%= link_to "See All Users", users_path, class: "ui item" %>
		  		<%= link_to "See All Projects", projects_path, class: "ui item" %>
		  	<% end %>
		  	<% if @project %>
		  		<% if @project.status == "pending" %>
						<span class="ui horizontal yellow label">
							<%= @project.status %>
						</span>
						<% elsif @project.status == "approved" %>
							<span class="ui horizontal green label">
								<%= @project.status %>
							</span>
						<% elsif @project.status == "rejected" %>
							<span class="ui horizontal red label">
								<%= @project.status %>
							</span>
					<% end %>
		  	<% end %>
		  <% end %>
		  <div class="right menu">
		    <% if !logged_in? && !current_page?(new_user_path) %>
		    	<%= link_to "Sign Up", new_user_path, class: "ui item" %>
		    <% elsif logged_in? %>
		    	<%= link_to "Log Out", logout_path, method: 'delete', class: "ui item" %><br><br>
		    <% end %>
		  </div>
		</div>
	</div>
	<!-- end navbar -->
    <%= yield %>
  </body>
</html>
